@import "_vars";

.events {
    position: relative;
    left: 50%;
    align-items: center;
    width: 1500px;
    height: 600;
    background-color: $black-color;
    transform: translateX(-50%);

    & .img {
        position: relative;
        left: 50%;
        width: 1500px;
        height: 600px;
        transform: translateX(-50%);
        mask-image: linear-gradient(
            to right,
            transparent,
            black 10%,
            black 90%,
            transparent
        );
        object-fit: cover;
    }
}

.events__background {
    background-color: $black-color;
}
