@import "_vars";

.gallery {
    position: relative;
    left: 50%;
    width: 925px;
    height: 300px;
    height: 300px;
    transform: translateX(-50%);
    & .img {
        position: relative;
        left: 50%;
        width: 462.5px;
        height: 300px;
        transform: translateX(-50%);
    }
}
