@import "_vars";

.header {
    flex-shrink: 0;
    background-color: $white-color;

    & .header__content--writing {
        font-family: RubikBubbles;
        font-style: normal;
        font-weight: 400;
    }
}
