@import "_vars";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $background1-color;
    background-color: $accent-color;
    padding-inline: 350px;

    & .header__open--menu:hover {
        color: $light-color;
        transition-duration: $transition;
    }

    & .header__logo {
        position: absolute;
        left: 50%;
        border-radius: 20px;
        color: $background1-color;
        transform: translateX(-50%);
        img {
            border-radius: 5px;
        }
    }

    & .header__socials {
        display: flex;
        justify-content: space-between;
        color: $background1-color;
        text-decoration: none;
        gap: 20px;

        & .socials__instagram--link {
            color: $background1-color;
            transition: $transition;
            text-decoration: none;
            &:visited {
                color: $background1-color;
            }
            &:hover {
                color: $light-color;
            }
            svg {
                fill: $background1-color;

                &:hover {
                    fill: $light-color;
                }
            }
        }

        & .socials__telegram--link {
            color: $background1-color;
            transition: $transition;
            text-decoration: none;
            &:visited {
                color: $background1-color;
            }
            &:hover {
                color: $light-color;
            }
            svg {
                fill: $background1-color;

                &:hover {
                    fill: $light-color;
                }
            }
        }
    }
}
