@import "_vars";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $background1-color;
    background-color: $accent-color;
    padding-inline: 10px;

    & .header__socials {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    & .header__logo {
        color: $background1-color;
        text-decoration: none;
    }
}

// добавить hover'ы
//разбораться с центрированием щпщ
