//colors
$primary-color: #ff7c57;
$primary-hover-color: #cd6447;

$secondary-color: #293146;
$secondary-hover-color: #515f7b;

$accent-color: #222a3f;
$text-color: #4d5465;
$light-color: #848a9a;
$border-color: #e2e6ef;

$background1-color: #fff9f6;
$background2-color: #f4f4f4;

$red-color: #e91d13;
$green-color: #3bc158;
$blue-color: #008dd0;
$yellow-color: #ffc83e;
$white-color: #ffffff;
